body {
  font-family: 'Courier New', Courier, monospace;
  margin: 0;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  position: fixed;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  color: white;
  background-color: black;
}

.nav-item {
  margin: .5em;
}

.navbar a {
  margin: 1em;
  color: white;
}

#footer {
  display: flex;
  justify-content: center;
  color: white;
  background-color: black;
  width: 100%;
}

img {
  width: 100%;
}

#home {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
}

#home p {
  margin: 1em;
  font-size: 20px;
}

#home img {
  min-width: 800px;
}

.flex-row {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.flex-row p{
  display: flex;
  width: 45%;
  flex: 1 1 auto;
}

.flex-column {
  width: 45%;
  margin: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1 1 auto;
}

.flex-column .even {
  align-self: flex-start;
}

.flex-column .odd {
  align-self: flex-end;
}

.flex-column h1 {
  font-family: 'Palatino', serif;
  font-style: oblique;
}

form div {
  margin: 1em;
  display: inline-block;
}
